@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Medical";
    Page.Description = "Health status of the child";
    if (@WebSecurity.CurrentUserId == -1)
    {
        Response.Redirect("/");
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>@Page.Description.</h2>
</hgroup>

<article>
    <div class="well well-lg" id="med_parent">
        <div class="container-fluid">
            <div class="row">
                <p class="caption col-xs-12">
                    Params of child
                </p>
            </div>
            <div class="row">
                <div class="type-value col-xs-5 col-sm-3">
                    Height: <span class="value" id="span_height">x</span>
                </div>
                <div class="type-value col-xs-5 col-sm-3">
                    Weight: <span class="value" id="span_weight">y</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="links" href="#">Link on calculator >>></a>
                </div>
                <br><br>
                <div class="col-xs-12 type-value">
                    Date of birth: <span class="value" id="med_date_birth">##.##.####</span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Calendar of vaccination
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped type-value">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name of vac</th>
                                        <th>Data of vac</th>
                                        <th>Termin</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody class="value">
                                    <tr>
                                        <td>1</td>
                                        <td>Dzf</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>Prichina opozdaniya</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>PSEVO</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td>Prichina bolezn</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Core</td>
                                        <td>17</td>
                                        <td>15</td>
                                        <td>Prichina otkaz</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!--/.panel -->
            </div>
            <hr />
        </div>
    </div>
</article>